/********************************************************************************
 * Copyright (c) 2021-2024 Bayerische Motoren Werke Aktiengesellschaft (BMW AG)
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

#pragma once

#include "Storyboard/MotionControlAction/{{ name }}_base.h"

{% block includes_special %}{% endblock %}

namespace {{ ose_namespace }} {

class {{ name }} : public {{ name }}Base
{
public:
    {{ name }}(Values values, Interfaces interfaces) :
        {{ name }}Base{std::move(values), interfaces}
    {};

    void SetControlStrategy() override;
    bool HasControlStrategyGoalBeenReached(const std::string& actor) override;
    mantle_api::MovementDomain GetMovementDomain() const override;
};

} // namespace {{ ose_namespace }}
